body {
  font: normal 12px Verdana, Arial, sans-serif;
  background-color: ghostwhite;
  margin-bottom: 10px;
}

form {
  margin-right: 35%;
  margin-left: 35%;
}

h1 {
  text-align: center;
  margin: 20px;
}

h3 {
  margin: 10px;
}

p {
  margin: 5px;
  text-align: justify;
}

nav {
  background-color: black;
}

.nav-link {
  color: white;
}

.logo {
  height: 50px;
}

.media > img {
  width: 35%;
}
